<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/game.css">
  <title>Buddies Hub</title>
</head>

<body>

  <div class="title">
   <a href="/"><h1>Buddies Hub</h1></a>
  </div>

  <div class="container">

    <section class="game1">
      <h1> <a href="/scramble" style="color: white">Scramble Game</a> </h1>
    </section>

    <section class="game2">
      <h1><a href="/maths" style="color: white">Maths</a></h1>
    </section>

    <section class="game3">
      <h1><a href="/memory" style="color: white"> Memory Game </a></h1>
                </section>

    <section class="game4">
        <h1><a href="/ticAI" style="color: white">Tic tac Toe </a></h1></section>

  </div>

</body>

</html>