<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/we.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io/favicon-16x16.png">
<link rel="manifest" href="../static/favicon_io/site.webmanifest">
  <title>Buddies Hub</title>
</head>

<body>
  <section class="showcase">
    <div class="video-container">
      <video src="../static/media/1.mp4" autoplay muted loop></video>
    </div>
    <div class="content">
      <h1>Buddies Hub</h1>
      <h3>Have fun and play games!</h3>
      <a href="/game" class="btn">Explore</a>
      <a href="#about" class="btn">Our Team</a>
    </div>
  </section>

  <div class="about" id="about">

    <div class="about-title">
      <h1>Our Team</h1>
    </div>

    <div class="about-cards">

      <div class="card" id="card-1">
        <div class="image">
          <img src="../static/media/muskan_pic.jpeg" alt="muskan pic">
        </div>
        <div class="content-a">
          <div class="title">
            | Muskan Gupta
          </div>
          <div class="sub-title">FullStack Developer</div>
          <div class="button">
            <p>Loves to design websites and plans to become FullStack Developer.</p>
            <!-- <button>Read More</button> -->
            <div class="icon">
              <a target="_blank" href="mailto:muskan80525@gmail.com" class="upIcon email">
                <i class="fa fa-envelope"></i></a>
              <a target="_blank" href="https://www.facebook.com/profile.php?id=100009637147503" class="upIcon facebook">
                <i class="fa fa-facebook"></i></a>
              <a  target="_blank" href="https://www.instagram.com/muskan80526/" class="upIcon insta"><i class="fa fa-instagram"></i></a>
              <a target="_blank" href="https://www.linkedin.com/in/muskan-gupta-9a794614a/" class="upIcon linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card" id="card-2">
        <div class="image">
          <img src="../static/media/hrishita_pic.png" alt="muskan pic">
        </div>
        <div class="content-a">
          <div class="title">
            | Hrishita Kumar
          </div>
          <div class="sub-title">Web Developer</div>
          <div class="button">
            <p>Loves to explore and code new games in different coding languages. </p>
            <button>Read More</button>
          </div>
        </div>
      </div>

      <div class="card" id="card-3">
        <div class="image">
          <img src="../static/media/shreya_pic.jpeg" alt="muskan pic">
        </div>
        <div class="content-a">
          <div class="title">
            | Shreya Manjucha
          </div>
          <div class="sub-title">Backend Developer</div>
          <div class="button">
            <p>Great at solving DSA sums and debugging the code! </p>
            <button>Read More</button>
          </div>
        </div>
      </div>

      <div class="card" id="card-4">
        <div class="image">
          <img src="../static/media/sir_pic.jpeg" alt="muskan pic">
        </div>
        <div class="content-a">
          <div class="title">
            | Dr. Arun Kulkarni
          </div>
          <div class="sub-title">Project Guide</div>
          <div class="button">
            <p>Mentors IT students and guides them in their projects with a 31 years of experience. </p>
            <a href="https://tsec.edu/wp-content/uploads/2021/10/5_-Arun-Kulkarni.pdf"><button>Read More</button></a>
          </div>
        </div>
      </div>
    </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="../static/js/landing.js"></script>
</body>

</html>