<!DOCTYPE html>
<html>
<head>
	<a href="javascript:window.top.location.reload(true)" class="Reset" style="color:black">Reset</a>
	<a href="/game" class="Exit" style="color:black">Exit</a>
	<link rel="stylesheet" href="../static/css/we.css">
</head>
<body>
<div id="memory_board"></div>
<script>newBoard();</script>
<script src="../static/js/memory.js"></script>
</body>
</html>