<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/scramble.css">
</head>

<body>
    <header>
        <h1>Scramble Game</h1>
    </header>
    <section>
        <div class="gameArea">
            <h3 class="msg"></h3>
            <input type="text" class="hidden">
            <button class="btn">Click here to start</button>
            <a href="/game" class="Exit">Exit</a>
        </div>
    </section>
<script src="../static/js/scramble.js"></script>
</body>

</html>